.auth__title {
  padding: 4px 40px 4px 0;
  color: var(--color-dark6);
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
}

#auth.modal {
  max-width: 550px;
}

#form_auth_phone,
#form_auth {
  margin-top: 36px;
}

.bx-authform-input-container {
  margin-bottom: 24px;
}

.form-label {
  margin-bottom: 6px;
  color: var(--color-dark6);
  font-weight: 600;
  font-size: 16px;
  line-height: 21px;
  display: block;
}

.input--required label::after {
  content: "*";
  color: var(--color-primary);
  font-size: 1.2em;
}

.input.is-invalid {
  border-color: var(--color-red5);
}

.invalid-feedback {
  width: 100%;
  margin-top: 6px;
  font-size: 14px;
  line-height: 18px;
  color: var(--color-red5);
}

.button.button-primary.form_auth_phone,
.button.button-secondary.auth_email_form,
.button.button-secondary.reg,
.button.button-primary.enter,
.button.button-secondary.foggot_pass,
.button.button-secondary.auth_phone_form,
.button.button-secondary.more_code_phone,
.button.button-primary.login_auth_phone {
  margin-top: 24px;
  width: 100%;
  padding: 18px;
  text-align: center;
  font-weight: 600;
  font-size: 12px;
  line-height: 14px;
}

.button.button-secondary.auth_email_form,
.button.button-secondary.reg,
.button.button-secondary.foggot_pass,
.button.button-secondary.auth_phone_form,
.button.button-secondary.more_code_phone,
.button.button-primary.login_auth_phone {
  margin-top: 12px;
}

.auth__or {
  margin-top: 24px;
  font-size: 16px;
  line-height: 21px;
  color: var(--color-dark4);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.auth__or span {
  padding: 0 24px;
  background: white;
  position: relative;
}

.auth__or::before {
  content: "";
  position: absolute;
  height: 1px;
  width: 100%;
  background-color: var(--color-gray2);
}

.button.button-secondary.foggot_pass {
  display: none !important;
}

#quick-register-window {
  position: fixed;
  margin: auto;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  max-width: 550px;
  z-index: 1055;
  width: 100%;
  height: fit-content;
  overflow-x: hidden;
  overflow-y: auto;
  outline: 0;
}

#quick-register-window.show {
  display: block;
}

#quick-register-window .quick-register-accounts-header-title {
  padding: 4px 40px 4px 0;
  color: var(--color-dark6);
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
}

#quick-register-window .quick-register-accounts-header-title h3 {
  margin: 0;
}

#quick-register-window .quick-register-accounts-content {
  margin-top: 36px;
}

#quick-register-window .quick-register-accounts-content .bx-authform-formgroup-container.input {
  background: unset;
  padding: 0;
  border: none;
  border-radius: 0;
}

#quick-register-window .quick-register-accounts-content .bx-authform-formgroup-container.input label {
  margin-bottom: 6px;
  color: var(--color-dark6);
  font-weight: 600;
  font-size: 16px;
  line-height: 21px;
  display: block;
}

#quick-register-window .quick-register-accounts-content .bx-authform-formgroup-container.input input {
  background-color: var(--color-gray1);
  padding: 12px;
  border-radius: 8px 8px 0 0;
  border: none;
  border-bottom: 1px solid var(--color-gray3);
  color: var(--color-dark6);
  font-size: 16px;
  line-height: 21px;
  width: 100%;
  outline: none;
}

#quick-register-window .quick-register-accounts-content input.btn.form_quick_register {
  color: white;
  text-transform: uppercase;
  border-radius: 12px;
  background-color: var(--color-primary);
  display: block;
  width: 100%;
  padding: 18px;
  text-align: center;
  font-weight: 600;
  font-size: 12px;
  line-height: 14px;
  margin: 0;
  cursor: pointer;
  border: none;
  transition: all 0.25s;
}

#quick-register-window .quick-register-accounts-content input.btn.form_quick_register:hover {
  background-color: var(--color-primary7);
}

#quick-register-window .quick-register-accounts-content .bx-authform-formgroup-container.input input.is-invalid {
  border-color: var(--color-red5);
}

#quick-register-window .modal__close {
  position: absolute;
  top: 19px;
  right: 24px;
  display: block;
  width: 40px;
  height: 40px;
  text-indent: -9999px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url("/local/templates/hut/components/bitrix/system.auth.authorize/flat/images/close.svg");
  transition: all 0.25s;
  cursor: pointer;
}

#quick-register-window .modal__close:hover {
  background-image: url("/local/templates/hut/components/bitrix/system.auth.authorize/flat/images/close-hover.svg");
}

.quick-register-warning {
  width: 100%;
  margin-bottom: 1rem;
  font-size: 1rem;
  color: #eb5806;
}

.privacy-block {
  margin-bottom: 1.5rem !important;
  margin-top: 1.5rem !important;
}

.privacy-block input {
  width: 1rem;
  min-width: 1rem;
  height: 1rem;
  margin-top: 6px;
  vertical-align: top;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  border: 1px solid #eeeff3;
  appearance: none;
  color-adjust: exact;
  background-size: auto;
  transition: all 0.3s ease-in-out;
  transform: translateY(-0.25rem);
  cursor: pointer;
  border-radius: 0.125rem;
  display: inline-block;
}

.privacy-block input:checked {
  background-color: transparent;
  border-color: #eeeff3;
  background-image: url('data:image/svg+xml,%3csvg width="9" height="8" viewBox="0 0 9 8" fill="none" xmlns="http://www.w3.org/2000/svg"%3e%3cpath d="M3.42069 6.91431C3.47956 6.99648 3.55717 7.06343 3.64708 7.10962C3.73699 7.1558 3.83661 7.1799 3.93769 7.1799C4.03877 7.1799 4.13839 7.1558 4.2283 7.10962C4.31821 7.06343 4.39582 6.99648 4.45469 6.91431L8.66669 1.07431C8.74269 0.968313 8.66669 0.820312 8.53669 0.820312H7.59869C7.39469 0.820312 7.20069 0.918312 7.08069 1.08631L3.93869 5.44631L2.51469 3.47031C2.39469 3.30431 2.20269 3.20431 1.99669 3.20431H1.05869C0.928691 3.20431 0.852691 3.35231 0.928691 3.45831L3.42069 6.91431V6.91431Z" fill="%23eb5806"/%3e%3c/svg%3e');
}

.privacy-block label {
  width: calc(100% - 33px);
  margin-left: 12px;
}

.privacy-block .error_message {
  display: none;
}

.privacy-block.has-error .error_message {
  display: block;
  width: 100%;
  margin-top: 0.5rem;
  font-size: 1rem;
  color: #eb5806;
}

.privacy-block.has-error input {
  border-color: var(--bs-danger);
}

.privacy-block a {
  color: var(--color-primary);
}

@media (max-width: 768px) {
  #auth.modal {
    vertical-align: bottom;
    width: 100%;
    max-width: unset;
  }

  #auth.modal {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }

  #quick-register-window {
    bottom: 0;
    top: unset;
    margin: 0;
    max-width: 100%;
    transform: unset;
    min-width: unset;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
}
